<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.user.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.user.po.Address">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="country_id" property="countryId" jdbcType="SMALLINT"/>
        <result column="province_id" property="provinceId" jdbcType="SMALLINT"/>
        <result column="city_id" property="cityId" jdbcType="SMALLINT"/>
        <result column="district_id" property="districtId" jdbcType="SMALLINT"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="BIT"/>
    </resultMap>
</mapper>
