<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.user.mapper.AdPositionMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.user.po.AdPosition">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="TINYINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="width" property="width" jdbcType="SMALLINT"/>
        <result column="height" property="height" jdbcType="SMALLINT"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
