<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.user.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.user.po.Coupon">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="SMALLINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type_money" property="typeMoney" jdbcType="DECIMAL"/>
        <result column="send_type" property="sendType" jdbcType="TINYINT"/>
        <result column="min_amount" property="minAmount" jdbcType="DECIMAL"/>
        <result column="max_amount" property="maxAmount" jdbcType="DECIMAL"/>
        <result column="send_start_date" property="sendStartDate" jdbcType="INTEGER"/>
        <result column="send_end_date" property="sendEndDate" jdbcType="INTEGER"/>
        <result column="use_start_date" property="useStartDate" jdbcType="INTEGER"/>
        <result column="use_end_date" property="useEndDate" jdbcType="INTEGER"/>
        <result column="min_goods_amount" property="minGoodsAmount" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>
