<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.user.mapper.RegionMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.user.po.Region">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="SMALLINT"/>
        <result column="parent_id" property="parentId" jdbcType="SMALLINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="BIT"/>
        <result column="agency_id" property="agencyId" jdbcType="SMALLINT"/>
    </resultMap>
    <select id="selectNameById" resultType="java.lang.String">
        select name from weshop_region where id=#{id}
    </select>
</mapper>
