<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.order.po.Cart">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="session_id" property="sessionId" jdbcType="CHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
        <result column="number" property="number" jdbcType="SMALLINT"/>
        <result column="goods_specification_ids" property="goodsSpecificationIds" jdbcType="VARCHAR"/>
        <result column="checked" property="checked" jdbcType="BIT"/>
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR"/>
        <result column="goods_specification_name_value" property="goodsSpecificationNameValue" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <update id="incrementNumberById">
        update weshop_cart set `number`=`number`+1 where id=#{id}
    </update>
</mapper>