<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.order.mapper.OrderGoodsMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.order.po.OrderGoods">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="SMALLINT"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
        <result column="is_real" property="real" jdbcType="BIT"/>
        <result column="goods_specification_ids" property="goodsSpecificationIds" jdbcType="VARCHAR"/>
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR"/>
        <result column="goods_specification_name_value" property="goodsSpecificationNameValue" jdbcType="LONGVARCHAR"/>
    </resultMap>
</mapper>
