<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.wetech.weshop.goods.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="tech.wetech.weshop.goods.po.Product">
        <!--
      WARNING - @mbg.generated
    -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_specification_ids" property="goodsSpecificationIds" jdbcType="VARCHAR"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
    </resultMap>
</mapper>
